<div class="container" style="color: white;font-size: 25px;">
	<h2>Account</h2>
	Name: <b><%= current_user.name %></b><br />
	Email: <b><%= current_user.email %></b><br />
	Contact: <b><%= current_user.contact %></b><br />
	City: <b><%= current_user.city %></b><br />
	Role: <b><%= current_user.roles.first.user_type %></b><br />
	<% if current_user.roles.first.user_type == "restaurant"%>
		<% current_user.restaurants.map{|obj|obj.name}.each do |restaurant_name|%>
			<b><%= restaurant_name %></b>
		<% end %>
	<% end %>
</div>