<%= form_with(model: coupon, local: true) do |form| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>

  <div class="field">
    <%= form.label :coupon_name %>
    <%= form.text_field :coupon_name %>
  </div>

  <div class="field">
    <%= form.label :per_off %>
    <%= form.number_field :per_off %>
  </div>

  <div class="field">
    <%= form.label :type_of_coupon %>
    <%= form.text_field :type_of_coupon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
