<% order_num = 0 %>
<% @orders.each do |order| %>
	<h3>
		Order :<%= order_num = order_num + 1%>
	</h3>
	<% order.order_items.each do |order_item| %>	
	<h4>
		Item <%= order_item.restaurant_item.item.name%><br/>
		Quantity:<%= order_item.quantity %>
	</h4>
	<% end %>
	<%= link_to "Accept", order_path(order.user_id,order.id,value: "Accept"), method: :patch %>||
		<%= link_to "Reject", order_path(order.user_id,order.id,value: "Reject"), method: :patch %><br/>
	Status_of_order:<b><%= order.status%></b><br/>
<% end %>