<h1><%= @restaurant.name.capitalize %></h1>
<% @restaurant.restaurant_items.each do |restaurant_item| %>
	<% item = restaurant_item.item %>
	<h3>
		Menu List
	</h3>
	<b><%= item.name%></b><br>
	<%= item.category %><br>
	<%= item.type_of_dish %><br>
	<%= restaurant_item.price %><br>
	<%= button_to 'Remove Item',restaurant_item_path(@restaurant,restaurant_item), method: :delete %><br>
<% end %>
<%= link_to 'Add Items', new_item_path %>