<div style="font-size: 20px;color:black">
	<% @items.each do |item| %>
		Item: <b><%= item.name %></b><br>
		Category: <%= item.category.capitalize %><br>
		Type: <%= item.type_of_dish.capitalize %><br>
		<a href="<%= edit_item_path(item) %>" ><i class="fa fa-pencil fa-2x" aria-hidden="true" style="color: black" ></i></a>&nbsp;
		  <a href="<%= item_path(item) %>" data-method="delete" onclick="return confirm('Are you sure?')"><i class="fa fa-trash fa-2x" aria-hidden="true" style="color: red" ></i></a>&nbsp;
		<br />
	<% end %>
</div>
<a href="<%= new_item_path %>" ><i class="fa fa-plus fa-2x" aria-hidden="true" style="color: #333">Add Items</i></a>
