<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <b><a class="navbar-brand" href="/">Swiggy</a></b>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    	<% if user_signed_in? %>
	      <ul class="nav navbar-nav">
	      	<% if current_user.current_role == "user" %>
	        <li><a href="<%= restaurants_list_path %>">Make Order</a></li>
	        <% end %>
	        <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#">	Address
		          <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="<%=new_address_path(current_user)%>">Add address</a></li>
		            <li><a class="dropdown-item" href="<%=addresses_path(current_user)%>">Show all Address</a></li>
		          </ul>
		        </li>
		        <% if current_user.current_role == "restaurant" %>
		        <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#">	My Restaurant<span class="caret"></span></a>
		        <% end %>	
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="<%=restaurants_path(current_user)%>">Restaurant's</a></li>
		            <li><a class="dropdown-item" href="<%= new_restaurant_path(current_user) %>">Register a Restaurant</a></li>
		          </ul>
		        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
		        <% if current_user.cart.present? && current_user.current_role == "user" %>
		        	<li><a href="<%= carts_path(current_user) %>"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
		         <% end %>
		         <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Roles
		          <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="<%= new_role_path(current_user) %>">Make Role</a></li>
		            <li><a class="dropdown-item" href="<%=roles_path(current_user)%>">Edit Role</a></li>
		            <li><a class="dropdown-item" href="<%=current_role_path %>">Change Current Role</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>Your Account
		          <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="/profile">Account</a></li>
		            <% if current_user.current_role == "user" %>
		            <li><a class="dropdown-item" href="<%=order_path(current_user,4)%>">Orders</a></li>
		            <% end %>
		            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li> 
		          </ul>
		        </li>
	      </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
        	<li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        	<li><a href="<%= new_user_registration_path %>">SignUP</a></li>
        </ul>
    	<% end %>
    </div>
  </div>
</nav>